@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/*Global Styles*/



/*MODAL----------------------*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 100;
  background-color: white;
  width: 760px;
  max-width: 80%;
  background-image: url(./images/Announcement-4.jpg);
  font-family: var(--secondary-font);

}

.modal-body h2 {
  margin-bottom: 3rem;
  color: #252525;
}

.modal-body h3 {
  color: #252525;
  padding-bottom: 15px;
}

.modal-body h4 {
  color: var(--secondary-font-color);
  padding-bottom: 10px;
  font-weight: 900;
}

.modal-body span {
  text-decoration: underline;
}

.modal-body .tel-number {
  margin-top: 15px;
}

.modal-body .order-now {
  margin-top: -3px;

}

.modal-body .order-now a {
  text-decoration: none;
  color: var(--secondary-font-color);

}

.modal-body .order-now a:hover {
  color: var(--body-font-color);
  text-decoration: underline;
  transition: ease-in 0.2s;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--body-font-color);

}

.modal-header .title {
  font-size: 3rem;
  font-weight: bold;
  color: #EB1C24;

}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 5rem;
  font-weight: bold;
}

.modal-header .close-button:hover {
  color: #EB1C24;
  transition: 0.5s ease-out;
}

.modal-body {
  padding: 10px 25px;
  font-size: 2rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}


#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*Modal Ends*/



@media screen and (max-width: 399px) {

  .modal-header .title {
    font-size: 2.1rem;

  }

  .modal-header .close-button {

    font-size: 2.9rem;

  }

  .modal-body h2 {
    margin-bottom: 2.1rem;
    font-size: 1.7rem;


  }

  .modal-body h3 {
    padding-bottom: 10px;
    font-size: 1.5rem;
  }

  .modal-body h4 {
    padding-bottom: 3px;
    font-size: 1.3rem;
    font-weight: 900;

  }
}
